
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 @import url('https://fonts.cdnfonts.com/css/miama');
                

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  background-color: black;
}
  .natto{
   color: rgb(0, 0, 0);

  }


/* banner style */
.bg-light{
    background: linear-gradient(180deg, rgb(52, 51, 51), rgba(101, 96, 96, 0));
    padding: 20px;

}

.navbar{
   justify-content: space-around;
   align-items: center;
  display: block;
   width: 100%;
}
  .toggle-btn{
    color: rgb(236, 234, 232);
    cursor: pointer;
    font-size: 30px;
    display: none;

  }

  a:hover{
    color: tomato;
    
  }
.nav-links{
    text-decoration: none;
  
  font-size: 18px;
 
  
}

.fitness-word{
    font-size: 36px;
    color: rgb(230, 83, 60);
    font-size: 45px;
}

.miami {
    font-family: 'Miama', sans-serif;
                                                

    
                
}

.item{
    list-style: none;
    margin: 18px;
    
  }

  .nav-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

.description-picture{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.banner-title{
    font-size: 76px;
    color: rgb(255, 255, 255);

}

.banner-content{
    width: 590px;
    height: 440px;
    
}

.body{
    
}

.banner-description{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0 30px;
}

.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    flex-grow: 0;
   
   
    
}

.btn-primary-1{
    border-radius: 42px;
    background: rgb(0, 0, 0);
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
  
    border: 1px solid rgb(255, 255, 255);
}
  
/* shared style */
.display-flex{
    display: flex;
}


/* habit style */


.habit-section{
    background-color: rgb(0, 0, 0);
    padding: 30px 40px;
    margin: 100px 50px;
    width: 1044px;
    height: 452px;
}
 .font-color{
    color: rgb(255, 255, 255);
    font-size: 18px;
 }

 .font-color-1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
 }
 
.title{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit{

    margin: 0 auto


}

.habit-sub-title{
    font-size: 24px;
   
}


 .image-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 4rem;
    align-items: center;
    text-align: center;
 }

 

 .pic-1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
 }

 .habit{
    font-size: 48px;
 }


 /* run section style */
 .run{
    width: 1060px;
    height: 371px;
    padding-left: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 54px;
    border-radius: 8px;
 }
 .extra{
    font-size: 48px;
 }

 .we {
    font-size: 24px;
 }

 .run-image{
    width: 350px;
    height: 300px;
    border-radius: 18px;
    margin: 40px 30px;
 }

 /* BMI chart style */

 .bmi-section{
    width: 1440px;
    height: 487px;
    background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 88px 0;
 } 

 .chart{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 40px;
 }


 table{
width: 310px;
height: 216px;
left: 189px;
right: 941px;
top: 138px;
bottom: 133px;
color: 1px solid rgba(255, 255, 255, 0.1);
 }

 .bmi-chart{
    width: 310px;
height: 216px;
 }

 .th{
    color: rgb(255, 255, 255);
 }
 .td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
 }

 .Calculate{
    font-size: 28px;
    color: rgb(255, 255, 255);
 }

 .we{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
 }

 .bmi-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 577px;
    height: 100px;
    border-radius: 8px;
    gap: 10px;
 }

 #box-1, #box-5{
    background-color: rgba(255, 255, 255, 0.1);
 }
  .bmi-btn-1{
    margin-top: 30px;
  }
 .bmi-3{
    width: 577px;
    height: 386px;
 }

  #box-5{
    grid-column: span 2;
  }

  .bmi-3{
    margin-right: 100px;
    margin-top: 50px;
  }
 
/* trainers section style */
.rong{
    background-color:  rgb(0, 0, 0); 
    margin:  80px 250px;
    flex-direction: column;
    align-items: center;
}

.tm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-title{
    font-size: 48px;
    color: azure;
    margin: 0 auto;
}

.team-sub-title{
   
    font-size: 14px;
    color:rgba(255, 255, 255, 0.5);
    margin: 15px 5px;
    padding: 15px 0;
}

.Trainers{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin: 10px;
    


  
}

.train-1{


}
.train{

}
.train-1{
    background-image: url(../images/exercise5.jpg);
    display: inline;
    width: 210px;
    height: 190px;
    border-radius: 12px;
    margin: 10px auto;
    padding: 5px;
 
}

.trainer-container {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 190px;
    margin: 10px;
}

.trainer {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.overlay-text {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(229, 224, 224);
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.t-1{
    
}


/* footer style */
.foot{ 
    flex-direction: column;
    align-items: center;
    background: rgb(34, 34, 34);  
    padding: 60px;
}


.foot-1{
    display: flex;
    flex-direction: row;
   gap: 80px;



}
.fitness{
    flex-direction: column;
   
   
}


.Started{
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
   
}

.Fit{
     margin: 0 auto;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);

}

.get-title{
    font-size: 26px;
   
}
.serv{
   margin: 0 auto;
   text-decoration: none;
}

.all{
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    font-size: 20px;
    
}

hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 1000px;
    margin-top: 60px ;

}
  /* responsive */

  .fas{
    font-size: 24px;
    width: 24px;
    height: 24px;
    color:  rgb(255, 255, 255);
   
  }

  


/* responsive media quary */
.hide{
    display: none;
  }
  @media screen and (max-width:576px) {

    .bg-light{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 640px;
        height: 1139px;
    }
   .banner-content{
    margin-left: 270px;

   }
   .navbar{
    justify-content: center;
    flex-direction:row;
    gap: 145px;
    margin-right: 190px;
   
   }

   .toggle-btn{
    color: rgb(236, 234, 232);
    cursor: pointer;
    font-size: 30px;
    display: block;
   }
   .nav-links{
    display: none;
  
   
   }
   .banner-title{
   }

   .body{
    display: flex;
    flex-direction: column;
   }
   
.description-picture{
    flex-direction: column;
    margin-right: 350px;

}
.btn-primary, .btn-primary-1{
    margin:40px 15px;
}
.banner-image{
    margin-left: 150px;
    margin-top: 120px;
}
.habit-section{
    width: 338px;
    height: 1398px;
    margin-top: 146px;

}
.title{
    flex-direction: column;
}

.image-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 180px;
    text-align: center;
 
}
.image-decoration{
    width: 258px;
height: 292px;
}

.img-title{
    font-size: 36px;
    margin: 0 auto;
}
.img-sub-title{
    font-size: 24px;
    margin: 0 auto;
}

.pic-1{
    width: 300px;
    height: 300px;
    border-radius: 100%;
 }
/* .habit-section */
.habit-section{
    width: 100%;
height: 100%;
}
.habit{
    font-size: 48px;
    text-align: start;
    margin-left: -20px;
}

/* run sectin */
.run{
    flex-direction: column;
    width: 486px;
    height: 800px;
    margin-top: 170px;
    margin-left: 0;
}

.run-image{
    width: 410px;
height: 292px;
margin-left: 0;
}
/* bmi calculator section */
.bmi-section{
    display: flex;
    flex-direction: column;
    width: 522px;
    height: 772px;
    align-items: center;
}
.bmi-3{
   width: 316px;
   height: 385px;
}

.bmi-btn{
    width: 436px;
    height: 143px;
}
.bmi-btn-1{
    margin-top: 0;
    margin-left: -14px;
}
.btn-primary, .btn-primary-1{
    margin:20px 15px;
}


.rong{
    display: flex;
    flex-direction: column;
    width: 518px;
    height: 2000px;
    margin-left: 0;
}
.tm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
height: 150px;
}

.Trainers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
height: 1823px;
margin-top: 50px;
gap: 80px;
margin-right: 188px;
}

.trainer{
    width: 313px;
height: 272px;
}


/* footer */
.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 410px;
    height: 1101px;
}

.foot-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 353px;
height: 748px;
}

.fitness{
    display: flex;
    flex-direction: column;
    width: 413px;
    height: 415px;
    font-size: 70px;
    margin: 0 auto;
}

.fitness-word{
    font-size: 36px;
   
}
.Fit{
    width: 340px;
height: 96px;
}
 .get-title{
    font-size: 54px;
 }
.Started{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin: 0%;
    text-decoration: none;
}
hr{
    margin-top: 300px;
}
  }


